/BardMod.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/.gitignore
/lib
/_ModTheSpire
/BardMod/target/BardMod.jar
/BardMod/target/BardMod-0.0.1-shaded.jar
/BardMod/target/original-BardMod.jar